@font-face {
  font-family: "squ721rm";
  src: url('font/squ721rm.ttf');
}

$font-title: "Open Sans", sans-serif;
$font-stack: "squ721rm", "Open Sans", helvetica, sans-serif;
$background: url('FFX_Logo.jpg');
$textbox-background: #E5E4E2;
$white: #fff;
$black: #000;
h1 {
  text-align: center;
  font: 200% $font-title;
  font-weight: 700;
  color: $black;
  div {
    display: inline;
    background-color: $black; //#FFD700;
    color: $white;
  }
}

body {
  font: #555;
  overflow: hidden;
  font: 100% $font-stack;
  font-weight: 300;
  #info {
    text-align: center;
    width: 85%;
    height: 100%;
    margin: 20px auto; //center a div 
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    animation: fadein 3s; 
  }
  #container {
    padding: 25px 100px 25px 100px;
    margin: 55px 0 0 0;
    font-weight: 500;
    #albhed-textbox {
      float: left;
      opacity: 0.7;
    }

    #english-textbox {
      float: right;
      opacity: 0.7;
    }

    label {
      padding: 5px 25px 5px 25px;
      text-align: center;
      display: block;
    }
  }

  #footer {
    font-size: 80%;
    position: fixed;
    bottom: 0;
    color: $white;
    background-color: $black;
    a {
      color: $white;      
      text-decoration: none;
    }
    a:hover{
      color: $white;
      text-decoration: underline;
    }
  }
}

#background {
  background-image: $background;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=20);
  opacity: 0.2;
  position: absolute;
  z-index: -1;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

textarea {
  font: 90% "squ721rm";
  resize: none;
  background-color: rgba(229, 228, 226, 0.25);
  opacity: 0.9;
  border: 1px solid rgba(81, 203, 238, 0.7);
  @include border-radius(10px);
}

textarea:focus {
  outline: none;
  box-shadow: inset 0 0 10px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}